@model tutorialAsp.Models.Joke

@{
    ViewData["Title"] = "Search";
}

<h4>Search Joke</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <div class="input-group mb-3">
                <input name="SearchPhrase" type="text" class="form-control" placeholder="Search jokes" >
                <button class="btn btn-primary text-light" type="submit" 
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Search Joke">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>